body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgba(91, 145, 59, 0.8);
  background-image: url("/images/bg.jpg");
  background-size: cover;
  color: white;
}
button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: rgba(91, 145, 59, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
h1 {
  color: white;
  text-align: center;
}

.story-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.story {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  color: #333;
}

.story h2 {
  margin: 0;
  color: #5b913b;
}

.story p {
  margin: 5px 0;
}

.story:hover {
  background-color: #f0f8ff;
  transform: scale(1.05);
}

.create-story {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #5b913b;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  width: 300px;
  height: 150px;
  cursor: pointer;
  font-size: 2em;
  color: #5b913b;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  color: #333;
}

.create-story:hover {
  background-color: #f0f8ff;
  transform: scale(1.05);
}

a {
  color: #5b913b;
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #333;
}
